* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button { 
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
}
input {
    font: inherit;
    border: none;
    width: auto;
}

body {
    background: #BE5504;
}
